.container {
  max-width: 1200px;
  margin: 20px auto;
  min-height: 50vh;
  border-radius: 40px;
  background: linear-gradient(145deg, #bb82e9, #5b05a7);
}
.title {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: x-large;
    color: white;
}

.panel {
    display:flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.panelbuttons{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 35px;
    width: 200px;
    height: 200px;
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: #5b05a7;
}